body{
	font-family: Roboto, sans-serif;
}
h2{
	color: rgb(255, 255, 255);
	background: rgb(51, 106, 200);
	padding: 50px;
}
#app-container div {
	margin-left: 25%;
}
button {
    color: rgb(255, 255, 255);
    background: rgb(51, 106, 200);
    border-style: none;
    border: 0.5px solid grey;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 6px;
    cursor: pointer;
    width: 250px;
    height: 36px;
}
button:hover{
	color: rgb(0, 0, 0);
	background-color: white;
	border: .5px solid grey;
	transition: ease-in 200ms;
}
.remove:hover {
	color: rgb(217, 49, 49);
}
button p {
	font-size: 25px;
}
.toggleAll {
	background: rgb(48, 69, 157);
}
input {
    height: 33px;
		width: 225px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #cecece;
    margin-top: 5px;
    cursor: pointer;
}
button:focus, input:focus{
    outline: 0;
    box-shadow: 0.5px 0.5px 6px grey;

}
.remove-section {
	margin-bottom: 30px;
}
.remove {
	background-color: rgb(217, 49, 49);
	border: 1px solid black;
}
.toggle-section button {
	background: rgb(255, 255, 255);
	color: rgb(91, 195, 65);
	border: 1px solid rgb(91, 195, 65);
}
.toggle-section button:hover {
	background: rgb(233, 233, 233);
}
.app-container:nth-child(1){
  
  }
.last-row {
	width: 100%;
}
.last-row > button {
	background: rgb(91, 195, 65);
	color: white;
}
.last-row > button:hover {
	background: rgb(82, 175, 59);
}
ul {
	list-style: none;
}