body {
	font-family: Roboto, sans-serif;
  margin: 0;
}
h2 {
	color: rgb(255, 255, 255);
	background: #E64E4E;
	padding: 50px;
  margin: 0;
  text-align: center;
}
#app-container div {
	margin-left: 25%;
  outline: 0;
}
button {
    color: rgb(255, 255, 255);
    background: #E64E4E;
    border-style: none;
    border: 0.5px solid grey;
    border-radius: 2px;
    margin: 0;
    margin-bottom: 6px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    box-shadow: 0px 1px grey;
}
button:hover {
    color: rgb(255, 255, 255);
    background-color: #f95050;
    border: unset;
    transition: none;
    box-shadow: 0px .5px grey;
}
button p {
	font-size: 25px;
}
button:focus {
    box-shadow: none;
}
.toggleAll {
	background: rgb(48, 69, 157);
}
input[type="number"]{
  width: 50px;
  text-align: center;
  box-shadow: none;
  margin-right: 6px;
  margin-left: 7px;
}
input[type="number"]:focus{
  width: 50px;
}
input {
    height: 45px;
    width: 250px;
    border-radius: 2px;
    border-style: none;
    border: 1px solid #cecece;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
    text-indent: 15px;
}
input:focus {
    font-size: 15px;
    border: unset;
    box-shadow: 0px 3px 12px lightgrey;
    outline: 0;
    margin-top: 0;
    width: 250px;
}
.remove {
	background-color: #E64E4E;
	border: 0.5px solid grey;
}
.remove:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(239, 65, 20);
}
.toggle-section .toggleTask {
    background: transparent;
    color: #E64E4E;
    border: 1px solid 
}
.toggle-section .toggleTask:hover {
	background: rgb(233, 233, 233);
}
div:nth-child(1){
  margin-bottom: 25px;
  }
.last-row {
	width: 100%;
}
.last-row > button:hover {
    background: rgb(51, 106, 200);
}

.last-row > button {
    background: rgb(48, 69, 157);
    color: white;
}
ul {
    list-style: none;
    margin-left: 25%;
    font-size: 26px;
    line-height: 55px;
    background: #f3f3f3cf;
    border-radius: 3px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px grey;
    width: 500px;
    height: auto;
}
.removeTaskButtons {
    width: 100px;
    height: 50px;
    margin: 5px;
    position: relative;
    margin-left: 25%;
}